name: CI - HTML Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate-html:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Validate HTML5
<<<<<<< HEAD
        uuses: validator-html/html5validator-action@v7.2.0
=======
        uses: validator-html/html5validator-action@v7.2.0
>>>>>>> 22288ef99bdd64500eaaa7fba3e3553640b8de56
        with:
          root: ./
