name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  validate-html:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Validate HTML using Docker
        run: |
          docker run --rm \
            -v "${{ github.workspace }}:/workspace" \
            validator/validator:latest \
            /workspace/**/*.html
